__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.DS_Store

.vscode/

.ipynb_checkpoints/

data/raw/

*.nc
*.nc4

*.xyz

data/processed/

*.pkl
*.pickle
*.joblib
*.h5
*.keras
*.pt
*.pth

*.log
*.tmp